.App {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 400px;
  }

 a {
    color: white;
    
} 

  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filters select, .filters input {
    margin: 0 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .site {
    background: white;
    border: 1px solid #ccc;
    margin: 40px;
    padding: 10px;
    width: 300px;
    text-align: center;
  }
  
  .site img {
    max-width: 100%;
    height: 100%;
  }
  
  .site a {
    font-size: 30px;
    margin: 10px 0 0 0;
    color: black;
    text-decoration: none;
  }
  