.about-container {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.about-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: white;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  background-color: seagreen;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  max-width: 250px;
  text-align: center;
  flex: 1 1 220px;
}

.team-photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 15px 0 10px;
  color: #333;
}

p {
  font-size: 1em;
  color: #777;
}

.team-description {
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.team-description h2 {
  font-size: 2em;
  color: seagreen;
  margin-bottom: 15px;
}

.team-description p {
  text-align: center;
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}
