.profile-container {
    display: flex;
    height: 53vh;
  }
  
  .profile-content {
    flex: 1;
    padding: 20px;
    background-color: white;

  }
  
  .profile-details {
    background-color: white;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .profile-item {
    width: 100%;
  }
  
  .profile-item label {
    font-weight: bold;
  }
  
  .profile-actions {
    text-align: center;
  }
  
  .profile-actions button {
    background-color: seagreen;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .profile-actions button:hover {
    background-color: seagreen;
  }
  